[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
marshmallow-sqlalchemy = "*"
flask-migrate = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.11"
